@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MusArticle</h1>
    <p>System for the management of museums and their articles.</p>
     
</div>
